<ion-view view-title="ng-cordova plugin">
    <ion-content>
        <div>
            <div class="row">
                <div class="col col-15">
                    <button class="button button-balanced" ng-click="datePicker()">
                        Date Picker
                    </button>
                </div>
                <div class="col col-15">
                    <button class="button button-balanced">
                        Vibration
                    </button>
                </div>
                <div class="col col-15">
                    <button class="button button-balanced">
                        Geolocation
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>